<!DOCTYPE html>
<html>

<head>
<style>
head {
        background-color: green;
        font-family: Helvetica;
        font-size: 36px;
}

body {
        background-color: blue;
}
</style>
</head>
</html>
