<!DOCTYPE html>
<html>
<head>
<style>

head {
        background-color: #fffeb9;
        font-family: Helvetica;
        font-size: 36px;
}

body {
        font-family: Helvetica;
        font-size: 18px;
        background-color: #fffeb9;
}
</style>
</head>
</html>
